body {
    background-color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: brown;
    font-size: 60px;
}

h2{
    color: chocolate;
    font-size: 48px;
}

pre{
    font-size: 18px;
    background-color: darkkhaki;
    border: 4px solid brown;
    margin: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    height: 24px;
    width: 240px;
    background-color: coral;
    border-color: lightcoral;
}

th, td {
    padding: 8px;
}

.links{
    color: darkblue;
}

.button.links {
    color: black;
}