body {
    background-color:burlywood;
}
h1{
    color: brown;
    font-size: 60px;
}

h2{
    color: chocolate;
    font-size: 48px;
}

pre{
    font-size: 18px;
    background-color: darkkhaki;
    border: 4px solid brown;
}

button {
    height: 24px;
    width: 240px;
    background-color: coral;
    border-color: lightcoral;
}
.links{
    color: black;
    background-color:orangered;
}